.footer {
  background-color: #1b5678;
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  /* margin-top: auto; */
}
