.title {
  border-bottom: 3px solid #808080;
  font-size: 30px;
  width: 40%;
}
.userCard {
}
.userContainer {
  width: 70%;
  margin: 3vh auto 10vh;
  display: flex;
  justify-content: center;
}
.userSentence {
  margin-left: 7vh;
  width: 60vw;
}
.button {
  background-color: #1b5678;
  color: #fff;
  width: 40%;
  height: 5vh;
  font-size: larger;
  font-weight: 100;
  letter-spacing: inherit;
  border-radius: 5px;
}
.userIntroduction {
  margin: 2vh 0 2vh;
}
.skillContainer {
}
.skillTitle {
  border-bottom: 3px solid #808080;
  font-size: 30px;
  width: 30%;
  margin: 10px auto;
  text-align: center;
  padding-bottom: 1vh;
  letter-spacing: inherit;
}
.skillButtonwrapper {
  margin: 3vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.chartBox {
  width: 100px;
}
.canvas {
  width: 100px;
  height: 100px;
}
.chartBox {
  display: block;
  height: auto;
}
