.gamingbackgroundcolor {
  animation: gaming-background-color 5s linear infinite;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-between;
}
@keyframes gaming-background-color {
  0% {
    background-color: #1b5678;
  }
  33% {
    background-color: yellow;
  }
  66% {
    background-color: Cyan;
  }
  100% {
    background-color: #1b5678;
  }
}
.logo {
  font-size: 25px;
}
.a {
  text-decoration: none;
  color: white;
}
